.author,.title{
    display: none;
}

.btn{
  display:none;
}

.header{
  background-color: black;
  text-align: center;
  border: 2px solid white;
  color: white;
}

/*literally copied this code I'll make my own in a bit*/
.topnav {
  overflow: hidden;
  background-color: #0f0f0f;
  border: 1px solid white;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#Main_text{
  color: white;
  font-size: 5px;
  font-family:Garamond, Georgia, serif;
}

#start{
  background-color: #0f0f0f;
  color: white;
  font-size: 20px;
  font-family:Garamond, Georgia, serif;
}


#further{
  background-color: lightgreen;
}

/*making data tables the correct colour*/

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #ffffff;
}

div.datatables {
    color: black;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    *cursor: hand;
    color: #ffffff !important;
    border: 1px solid transparent;
    border-radius: 2px;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: #e1e1e1;
}

table.dataTable tbody tr {
    background-color: #efefef;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #111;
    color: white;
}



